/*
f06543 - orange soda
e8e9eb - platinum
e0dfd5 - alabaster
313638 - onyx
f09d51 - sandy brown
*/

* {
  text-indent: 1px;
}

body {
    background-color: #e0dfd5;
    border-style: ridge;
    border-color: indianred;
    border-width: 3px;
    width: 800px;
    padding-left: 1cm;
    padding-right: 1cm;
    margin: auto;
    display: block;

}

p {
  color:#313638;
}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url(Source_Sans_Pro)
}

#AttendenceList {
  font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width:800px) {
  body {
    background-color:rgb(162, 214, 162);
  }
}

main {
    font-size: 16px;
    font-family: sans-serif;
  }

header {
     background-color: #e8e9eb;
     width: 700px;
     padding-left: 30px;
     padding-right: 30px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-top: 20px;
     margin-bottom: 30px;
     margin-left: 20px;
     margin-right: 20px;
     border-style:ridge;
     border-color:indianred;
     border-radius: 0.5%;
     border-width: 2px;
     text-align: center;
}

.menu {
    max-width: 400px;
    min-width: 300px;
    padding-left: 200px;
    padding-right: auto;
    text-decoration: dotted;
    text-align: center;
    display:flex;
    flex-direction: column;
    text-decoration: underline;
    color:hsl(29, 84%, 63%);
}

.menu > div {
  background-color: #e8e9eb;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}  

.attend {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.attend-item {
  background-color: #e8e9eb;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color:#f06543;
}

a:link {
  color:#f06543;
}

a:visited {
  color:rgba(121, 155, 121, 100);
}

a:hover{
  color:#274322;
}

a:active {
  color: thistle;
}


h1 {
    position: sticky;
    top: 0px;
    background-color: #e8e9eb;
    border-style:ridge;
    border-color: indianred;
    border-radius: 0.5%;
    border-width: 2px;
    color: rgb(240, 101, 67);
    font-size: 40pt;
    text-decoration: underline;
    margin-top: 20px;
     margin-bottom: 30px;
     margin-left: 20px;
     margin-right: 20px;
  }

h2 {
    color: hsl(29, 84%, 63%);
    font-size: 1cm;
  }

h3, h4 {
  color: #313638;
}

h3 {
    font-size: 0.3in;
  }

h4 {
    font-size: 20px;
    text-decoration: underline;
  }

footer {
    height:50px;
    background-color: #e8e9eb;
    font-size: 1.5vw;
    width: 700px;
    padding: 10px 30px 10px 30px;
    margin: 20px 20px 20px 20px;
    border: 2px ridge indianred;
    border-radius: 0.5%;
    display: inline-block;
    text-align: center;
  }

.bottom {
    position: fixed;
    bottom: 1.95vw;
    right: 0;
    border-color: indianred;
    border-width: 2px;
    width: 100px;
    border-style: ridge;
    text-align: center;
    background-color: #e8e9eb;
  }

.top {
    position: fixed;
    bottom: 0;
    right: 0;
    border-color: indianred;
    border-width: 2px;
    width: 100px;
    border-style: ridge;
    text-align: center;
    background-color: #e8e9eb;
  }  
